<% layout('./layouts/boilerplate')%>
<main>
    <div class="page-title">
        <h1>Ghibli Wallpapers</h1>
    </div>
    <div class="left">
        <h3>
            <a href="/search/?movie=<%= wallpaper.movie %>"
                ><%= wallpaper.movie %></a
            >
        </h3>
        <div class="tags">
            <ul>
                <% wallpaper.tags.map(tag => { %>
                <li><a href="/search/?tag=<%= tag %>"><%= tag %></a></li>

                <% } ) %>
            </ul>
            <div class="download">
                <a href="#" class="dl-btn" id="dl-btn">Download</a>
                <a href="/" class="refresh-btn">Next</a>
            </div>
        </div>
    </div>
    <section class="panel">
        <img src="<%= wallpaper.url %>" alt="wallpaper" id="wallpaper-img" />
    </section>
</main>
