<% layout('./layouts/boilerplate')%>

<div class="container">
    <div class="search-wrapper">
        <h1>Search</h1>
        <div class="search-form">
            <form action="">
                <h3>By Movie</h3>
                <label for="title"></label>
                <input type="text" />
            </form>
        </div>

        <div class="tags-wrapper">
            <h3>
                Tags
                <img src="/assets/minus.png" id="hide-btn" alt="" class="" />
                <img
                    src="/assets/add.png"
                    id="show-btn"
                    alt=""
                    class="no-display"
                />
            </h3>
            <div class="tags" id="tags">
                <ul>
                    <% tags.map(tag => { %>
                    <li><a href="/search/?tag=<%= tag %>"><%= tag %></a></li>
                    <% } ) %>
                </ul>
            </div>
        </div>
    </div>
    <div class="results-wrapper">
        <h1>Results</h1>
        <div class="results">
            <ul>
                <% wallpapers && wallpapers.map(wp => { %>
                <li class="card">
                    <img
                        src="<%= wp.large_reduced %>"
                        alt="wallpaper"
                        id="wallpaper-img"
                    />
                    <div class="content">
                        <p class="title"><%= wp.movie %></p>
                        <div class="tags">
                            <ul>
                                <% wp.tags.map(tag => { %>
                                <li><%= tag %></li>
                                <% } ) %>
                            </ul>
                        </div>
                        <div class="download">
                            <a href="#" class="dl-btn" id="dl-btn">Download</a>
                        </div>
                    </div>
                </li>
                <% } ) %>
            </ul>
        </div>
    </div>
</div>
